<tr id="<%= dom_id user %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
	<td scope="row" class="py-4 px-6">
		<input type="checkbox" data-multiple-selection-target="checkbox" data-action="change->multiple-selection#toggleSelection" value="<%= user.id %>">
	</td>
	<td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
		<%= user.name %>
	</td>
	<td scope="row" class="py-4 px-6">
		<%= user.email %>
	</td>
	<td scope="row" class="py-4 px-6">
		<%= user.gender %>
	</td>
	<td scope="row" class="py-4 px-6">
		<%= user.birthdate %>
	</td>
	<td scope="row" class=" px-6">
		<%= link_to "Show", user_url(user) %> | 
		<%= link_to "Edit", edit_user_url(user), data: { turbo_frame: "modal" } %>
	</td>
</tr>
